body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-color: #404040;
}

iframe {
    width: 100%;
    height: 100%;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 1;
}

a {
    color: #fff;
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    font-size: 20px;
    text-align: center;
}

.kraken-container {
    position: absolute;
    overflow: hidden;
}

.shadertoy-container {
    position: absolute;
}